:root {
      --size: min(80vw - 20px, 70vh);
}

.row {
      display: flex;
      flex-direction: row;
}

.game-window {
      margin: auto;
      padding-top: calc(50vh - (min(90vw, 90vh) / 2));
      width: min(80vw - 20px, 70vh);
      height: min(80vw - 20px, 70vh);
}

.row-div {
      border-style: none;
      border-width: min(1vw, 1vh);
      border-color: var(--secondary-background-color);
      width: 100%;
      height: 100%;
      margin: 0px;
      border-radius: 7px;
}

.cell {
      height: 100%;
      width: 100%;
      margin-right: 2%;
}

.row {
      height: 31.33333%;
      display: flex;
      margin-bottom: 2%;
      justify-content: space-evenly;
}
.reset{
      width: 20vw;
      font-size: min(min(3vw, 3vh), 50px);
      cursor: pointer;
      background-color: var(--secondary-background-color);
      border-radius: min(1.5vh, 1.5vw);
      border-style: none;
      margin-top: 2vh;
      color: var(--primary-text-color);
}

.reset-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 1vw;
}